{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="user-email">{{ request.user.email }}</h1>

    <div id="menu">
        <button class="menu-btn btn btn-sm btn-outline-dark" id="inbox">Inbox</button>
        <button class="menu-btn btn btn-sm btn-outline-dark" id="compose">Compose</button>
        <button class="menu-btn btn btn-sm btn-outline-dark" id="sent">Sent</button>
        <button class="menu-btn btn btn-sm btn-outline-dark" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-dark" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <div id="alert-invalid-values" class="alert alert-warning">
            <strong>Warning!</strong> make sure to fill the fields with valid values
        </div>
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                <strong>From:</strong> <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <strong>To:</strong> <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <strong>Subject</strong> <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <strong>Message: </strong> <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <div class="submit-btn">
                <input type="submit" value="Submit" class="sbm-btn btn btn-primary"/>
            </div>
            
        </form>
    </div>

    <div id="email-view">
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}