{% extends "mail/layout.html" %}

{% block body %}

    <div id="login-register">
        <h2>Login</h2>
    </div>


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div id="email" class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div id="password" class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div id="login-register-btn">
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
    </form>

    <div id="login-register-link">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}